
body{
    text-align: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.search-bar{
    display: inline-block;
    border: none;
    background-color: bisque;
    padding:0px 0px 20px 0px;
    justify-content: space-around;
}